.slider{
	display: flex;
	align-items: center;
	justify-items: center;
	margin-top: 1%;
}

.wrapper, .slide{
	white-space: nowrap;
	cursor: pointer;
	font-size: 0px;
	overflow:hidden;
	scroll-behavior: smooth;
}

.wrapper{
	position: relative;
	padding: 0px 40px;
}

.wrapper i{
	background: #ffffff;
	border:solid 1px black;
	cursor: pointer;	
	height: 45px;
	width: 45px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	font-size: 1.2rem;
	position: absolute;
}

.wrapper i:first-child{
	left: 20px;
}
.wrapper i:last-child{
	right: 20px;
}

.slide img{
	height: 240px;
	margin-left: 20px;
	object-fit: cover;
	width:  calc(100%/3);
}

.slide img:first-child{
	margin-left: 0px;
}

@media screen and (max-width: 900px){
	.slide img{
		height: 200px;
		width:  calc(100%/2);
	}
}

@media screen and (max-width: 550px){
	.slide img{
		width:  100%;
	}
}
