html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
}
	
body{
	display: flex;
	flex-direction: column;
}

* {
	margin: 0px;
	padding: 0px;
}
a, p, label{
	font-family: "arial";
	color: black;
	text-decoration: none;
	font-size: 30px;
}


/*header*/

header{
	padding: 10px 0px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	border-bottom: 5px solid black;
}
nav a{
	margin: 0px 5px;
}
.headimg{
	width: 30px;
	height: auto;
	margin-right: 15px;
}
/*footer*/

.footer{
	display: flex;
	margin-top: auto;
	width: 100%;
	justify-content: center;
	padding: 5px 0px 10px;
	border-top: 5px solid black;
	position: fixed;
	bottom: 0px;
	background-color: white;
}

/*main*/
main{
	width: 100%;
	height: 100%;
}
main p{
	top: 18%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
/*slider*/
.slider{
	position: absolute;
	width: 780px;
	height: 438px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -35%);
	border: 2px solid black;
	overflow: hidden;
	background-color: darkgray;
}

.navigaiton{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar{
	width: 30px;
	height: 10px;
	background-color: lightgray;
	margin: 0px 10px;
	opacity: 0.5;
	border-radius: 5px;	
	transition: all 0.5s ease;
	border: 1px solid black;
}

.bar:hover{
	opacity: 1;
	transform: scale(1.8);
}
.slides{
	width: 500%;
	height: 100%;
	display: flex;
}
input[name=rb]{
	visibility: hidden;
	position: absolute;
}

.slide{
	width: 20%;
	transition: all 0.5s ease;
}

.slide img{
	width: 100%;
	height: 100%;
}

#rb1:checked ~ .move{
	margin-left:-0%;
}
#rb2:checked ~ .move{
	margin-left:-20%;
}
#rb3:checked ~ .move{
	margin-left:-40%;
}
#rb4:checked ~ .move{
	margin-left:-60%;
}
#rb5:checked ~ .move{
	margin-left:-80%;
}

/*form*/
form{
	position: absolute;
	width: 40%;
	height: 100%;
	display: flex;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
}
.big{
	height: 40%;
	width: 60%;
}

.formgap{
	margin: 20px  20px;
}
.form{
	display: flex;
	justify-content: center;
}

.about-us{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.p3x4{
	height: 120px;
	width: 150px;

}

.about-us{
	padding: 50px;
	marign: 0px auto;
}
.about-us div{
	width: 100%;
}

.about-us h2{
	margin: 20px;
}

.about-us ul, .about-us ol{
	row-gap: 20px;
}